.main-content{
  width: 960px;
  margin: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(68,68,68);
  background-color: rgb(251, 251, 251);
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

td {
  border: thin red solid;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}


h1, h2 {
  font-weight: 300;
  line-height: 125%;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 175%;
}

.header{
  color: rgb(0,126,229);
}

.hero{
  background: url(hero.png)
  no-repeat center center;
  background-size: cover;
  height: 312px;
}

.primary-button {
  background-color: rgb(0,126,229);
  width: 100%;
  color: white;
  border-radius: 5px;
  height: 40px;
}

.get-started {
  text-align: left;
  vertical-align: top;
  align-items: center;
  padding-left: 400px;
  padding-right: 400px;
}

.secondary-button {
  background-color: rgb(0,126,229);
  width: 300px;
  color: white;
  border-radius: 5px;
  height: 40px;
}

form{
  display: block;
  margin-top: 20px;
  align-items: center;
}

.h4-footer {
    color: rgb(153,153,153);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    vertical-align: top;
  }

  .list{
    color: rgb(119,119,119);
margin-bottom: 10px;
list-style: none;
padding-left: 0;
  }
