body{
  background-color: rgb(251, 251, 251);
  color:rgb(68,68,68);
  font-family: 'Open Sans', sans-serif;
}

td{
  border: thin red solid;
}

.navigation{
  color:blue;
}

.hero{
  background: url("hero.png");
  no-repeat center center;
  background-size: cover;
  height: 300px;
}

button{
  background-color:blue;
  color: white;
  width: 400px;
  height:45px;
}
