body {
  background-color: rgb(251, 251  , 251);
  color: rgb (68, 68,68);
  font-family: 'Open Sans';
}

h1, h2 {
  font-weight: 300;
  line-height: 125%;
}

.main-content {
  width: 960px;
  margin: auto;
}

.navigation-bar {
color: rgb(0,126,229);

}

/*td {
  border: thin red solid;
} */


.button-class {
  width: 100%;
  background-color: rgb(0,126,229);
  color: white;
  border-radius: 5px;
  height: 40px;

}
