.main-content {
  width: 960px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

td{
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.top-bar{
  color: #007EE5;
}

h1, h2{
  font-weight: 300;
  line-height: 125%;
}

p{
  font-weight: 300;
  font-size: 20px;
  line-height: 175%;
}

h4{
  color: #999;
}

.h4-footer{
  color: rgb(153,153,153);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.margin-above-section{
  margin-top: 20px;
}

a{
  color: #007EE5;
  text-decoration: none;
  text-decoration-color: -moz-use-text-color;
  text-decoration-line: none;
  text-decoration-style: solid;
}

ul{
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  vertical-align: top;
}

li{
  color: #777;
  margin-bottom: 10px;
}

.li-first{
  margin-bottom: 0px;
  color: black;
}

.top-padding{
  padding-top: 50px;
}

.bottom-padding{
  padding-bottom: 150px;
}

.main-button{
  background-color: rgb(0,126,229);
  width: 100%;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.main-button:hover{
  background-color: rgb(0, 65, 117);
}
