body{
  background-color: rgb(251, 251, 251);
  color:rgb(68,68,68);
  font-family: 'Open Sans';
}

h1, h2 {
  font-weight: 300;
  line-height: 125%;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 175%;
}

a {
  color: rgb(0,126,229);
  text-decoration: none;
}

td{
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
}

.table-content{
  width: 960px;
  margin:auto;
}

.navigation{
  color:rgb(68,68,68);
}

.hero{
  background: url("hero.png");
  no-repeat center center;
  background-size: cover;
  height: 300px;
  margin-bottom:30px;
}

button{
  background-color:rgb(0,126,229);
  color: white;
  width: 100%;
  height:40px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(0, 65, 117);
}

.form-inputs-box{
  margin-top: 20px;
}


.take-your-docs{
  background: url("docs-anywhere.png")
  no-repeat center center;
  background-size: cover;
  height: 300px;
  padding-top: 50px;
}

.send-videos{
  background: url("send-videos-quickly.png")
  no-repeat center center;
  background-size: cover;
  height: 300px;
  padding-top: 50px;
}

.photos-safe{
  background: url("keep-your-photos-safe.png")
  no-repeat center center;
  background-size: cover;
  height: 300px;
  padding-top: 50px;
}

.work-on-slides{
  background: url("work-on-slides-together.png")
  no-repeat center center;
  background-size: cover;
  height: 300px;
  padding-top: 50px;
}

.never-lose{
  background: url("never-lose-a-file-again.png")
  no-repeat center center;
  background-size: cover;
  height: 300px;
  padding-top: 50px;
}

.footer-list-title{
  color: rgb(153,153,153);
  font-size: 16px;
  margin-bottom:10px;
  font-weight:700;
}

.footer-list{
  list-style: none;
  padding-left: 0;
}

.get-started-now{
  margin-bottom:150px;
}

.footer-list-item{
  color: rgb(119,119,119);
  margin-bottom: 10px;
}
