body {
  background-color: rgb(251, 251  , 251);
  color: rgb (68, 68,68);
  font-family: 'Open Sans';
}

h1, h2 {
  font-weight: 300;
  line-height: 125%;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 125%;
}

a {
  color: gb(0,126,229);
  text-decoration: none;
}

.main-content {
  width: 960px;
  margin: auto;
}

td{
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  /*border: thin red solid;*/
}

.navigation-bar {
color: rgb(0,126,229);
}

.button-class {
  width: 100%;
  background-color: rgb(0,126,229);
  color: white;
  border-radius: 5px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.primary-button:hover {
  background-color: rgb(0, 65, 117);
}

.footer-style {

}
