body{
  color: rgb(68,68,68);
  font-family: 'Open Sans', sans-serif;
}

td{
  border: thin red solid;
  vertical-align: top;
    padding-bottom: 40px;
}

.main-content{
  width: 960px;
}

.header{
  color: rgb(0,126,229);
}

.hero{
  text-align: center;
}

p, h1, h2, h3{
  font-weight: 300;
}

.button{
  background-color: rgb(8, 126, 229);
  color: white;
  height: 40px;
  width: 400px;
  border-radius:5px;
}

h4{
  color: gray;
}

ul{
  padding-left: 0;
}

li{
  color: gray;
  list-style: none;
  padding-bottom: 10px;
}
