
.main_content{width: 960px;
margin: auto;
vertical-align: middle;}


body{
  font-family: 'Open Sans', sans-serif;
}

td{
  width: 470px;
}

.header{
  color: rgb(0,126,229);
}

.hero_image{
height:312px;
}


h1{
font-size: 32px;
font-weight: 300;
line-height: 125%;
}

.body_content{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 175%;
}

h2{
  font-size: 24px;
  font-weight: 300;
  line-height: 125%;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: 175%;
}

.form_content{
}
