.landing-content {
  width:960px;
  margin:auto;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(251, 251, 251);
  font-weight:300;
  color:rgb(68, 68, 68);
}

.header{
  color:rgb(0,126,229);
}

a {
  color:rgb(0,126,229);
  text-decoration:none;
  font-weight:normal;
}

.hero{
  text-align: center;
  no-repeat center center;
  background-size:cover;
  height:300px;
}

.content-a{
  font-size:30px;
  line-height:125%;
}

.content-b{
  font-size:20px;
  line-height:175%;
}

.content-c{
  font-size:25px;
  line-height:125%;
}

.content-a,.content-b,.content-c{
  padding-left:15px;
  vertical-align: text-top;
}

.content-form{
  font-size:25px;
  font-weight:lighter;
}

.inputform1{
  vertical-align:top;
  font-weight:normal;
}

.inputform2{
  padding-left:350px;
  font-weight:normal;
}

.images{
  vertical-align:text-top;
}

.row{
  vertical-align: text-top;
}

button{
  background-color:rgb(0,126,229);
  color:white;
  height:40px;
  width:460px;
  border-radius:5px;
}

.fa-google{
  color:white;
}

hr{
  display:block;
  border-style:inset;
  border-width:1px;
}
